@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.card {
  max-width: 375px;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 30px -20px #776cf4;
          box-shadow: 0px 12px 30px -20px #776cf4;
}

.card__img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  padding: 1em 1.5em;
  text-align: center;
}

.card__content > * {
  margin-bottom: 1rem;
}

.card__title {
  font-size: 1.3rem;
}

.card__caption {
  color: #7280a7;
  font-size: 0.8rem;
}

.card__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border-radius: 15px;
  background-color: #f0f4ff;
}

.card__plan-name {
  font-size: 0.75rem;
  font-weight: 700;
}

.card__plan-price {
  color: #7280a7;
  font-size: 0.75rem;
}

.card__change-link {
  color: #3829e0;
  font-size: 0.75rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card__change-link:hover {
  color: #776cf4;
  text-decoration: none;
}

.card__btn {
  display: block;
  width: 100%;
  margin: 0 auto 1rem auto;
  font-size: 0.75rem;
  font-weight: 700;
}

.card__payment-btn {
  padding: 1.2em;
  border: transparent;
  border-radius: 10px;
  background-color: #3829e0;
  color: #f5f7ff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-shadow: 0px 10px 30px -5px #776cf4;
          box-shadow: 0px 10px 30px -5px #776cf4;
}

.card__payment-btn:hover {
  background-color: #776cf4;
}

.card__cancel-btn {
  border: transparent;
  background-color: transparent;
  color: #7280a7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card__cancel-btn:hover {
  color: #1f2f56;
}
